.navbar-brand {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 27px;
}

.button {
    width: 140px;
}

.content {
    margin-top: 50px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.price-tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.card {
    border: 0;
}

.card-body {
    background-color: #E5E5E5;
    margin-top: -15px;
    border-radius: 10px;
}

.custom-rounded {
    border-radius: 10px;
}

.card-title {
    font-family: 'Gentium Book Plus', serif;
    font-weight: 700;
}

.card-text {
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
}

.text-price {
    font-size: 15;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.custom-font-size {
    font-size: 13px;
}

.active-target {
    animation: scroll-center 0.5s forwards;
}

@keyframes scroll-center {
    to {
        scroll-margin-top: 50vh;
    }
}

.btncart{
    width: 30px;
    height: 30px;
}

.font-cart{
    font-family: 'Inder', sans-serif;
    font-weight: 400;
}

.txt-harga {
    font-size: 14px;
}

.card-total {
    margin-top: 60px;
}

@media (min-width: 768px) {
    .carousel-inner {
        height: 340px;
        border-radius: 35px;
        margin-top: 50px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 40px;
    }

    .carousel-caption {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 767px) {
    .carousel-inner {
        height: 170px;
        border-radius: 25px;
        margin-top: 50px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 50px;
    }

    .carousel-caption {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


